body {
    background-image:url('../imgs/background01.jpg') !important; 
    background-repeat:no-repeat !important;
    -webkit-background-size: 100% auto !important;
    -moz-background-size: 100% auto !important;
    -o-background-size: 100% auto !important;
    background-size: 100% auto !important;
    background-position: center top !important;
    background-attachment: fixed !important;
}

@media screen and (max-width: 1380px) {
    body {
        -webkit-background-size: auto 100% !important;
        -moz-background-size: auto 100% !important;
        -o-background-size: auto 100% !important;
        background-size: auto 100% !important;
        background-position: center top !important;
        background-attachment: fixed !important;
    }
}